body{
   background: lightgreen; 
}

 .watch{
    height: 90%;
    max-height: 1200px;
    width: 90%;
    max-width: 700px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(backtrac.png);
    background-size:cover;
    background-position: center;
    text-align: center;
    padding: 60px 0;
    color: white;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

 .watch h1{
    
    margin-top: 60px;
    font-size: 80px;
    font-weight: 300;


}

.controler{
    display: flex;
    align-items: center;
    justify-content: center;
}

.controler img{

    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}

.controler img:nth-child(2){

    width: 75px;
}